<div class="container-fluid pt-5 pb-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3><b>FACTS</b></h3>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="column text-center">
          <strong> 232 </strong>
          <p>Clients</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="column text-center">
          <strong> 521 </strong>
          <p>Projects</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="column text-center">
          <strong> 1,463 </strong>
          <p>Hours Of Support</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
          <div class="column text-center">
              <strong > 15 </strong>
              <p>Hard Workers</p>
          </div>
      
      </div>
    </div>
  </div>
</div>

<!-- <div class="container"> 
  <div class="card" style="height:400px;">
    <div class="card-body">

    <div *ngFor="let post of posts">
 
        <h3> {{ post.author }}   </h3>
        <h1> {{post.title}} </h1>
        <p> {{ post.content}} </p>
        <p> {{post.country}} </p>
        <p> {{ post.date_posted}} </p>
 
    </div>

    </div>
  </div>
</div> -->
