<ng-container>
  <div class="container"> <!--fixed-top-->
    <div class="float-left nav-brand pt-4" style="color:white">
      <h1>DFF</h1>
    </div>

    <nav class="float-right p-3" id="navbarSupportedContent">
      <ul class="nav">
        <li lass="nav-item active"><a href="" class="nav-link"> Home </a><span class="sr-only">(current)</span></li>
        <li lass="nav-item"><a href="" class="nav-link"> ABOUT US </a></li>
        <li lass="nav-item"><a href="" class="nav-link"> SERVICES </a></li>
        <li lass="nav-item"><a href="" class="nav-link"> PORTFOLIO </a></li>
        <li lass="nav-item"><a href="" class="nav-link"> TEAM </a></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navDropdown"
            role="button"
           
          >
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li lass="nav-item"><a href="" class="nav-link"> CONTACT US </a></li>
      </ul>
    </nav>
  </div>
</ng-container>
