<section class="container pt-5 pb-5">
  <div class="row text-center">
    <div class="col">
      <h2>Want More Job & Latest Job?</h2>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <i>
        <p>
          Subscribe to our mailing list to receive an update when new Job
          arrive!
        </p>
      </i>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <input type="text" /> <button class="btn">Subscribe</button>
    </div>
  </div>
</section>
