<section class="container">
  <div class="row">
    <div class="col text-center pt-5">
      <!-- <h3 [(ngModel)]='heading' #heading > {{ heading }} </h3> -->
    </div>
  </div>
  <div class="row" style="position: relative; top: 400px;">
    <div class="col">
      <button routerLink="/jobs">Jobs Finder</button>
      <button routerLink="/welcome">Office</button>
      <button routerLink="/musify">Musify</button>
      <button routerLink="/driven">driven</button>
      <button routerLink="/reactive">reactive</button>
      <button routerLink="/reactive">reactive</button>
      <button routerLink="/services">Sevices</button>
    </div>
  </div>
</section>
