.banner {
  background-image: url(../../../assets/img/jobs/slider-01.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.main-head{
  transform: translateY(250px);
  color: white;
}

input {
  height: 50px;
  width: 340px;
  border: none;

}

select {
  height: 50px;
  width: 340px;
  border: none;


}

button {
  height: 50px;
  width: 180px;
  border: none;
  border-radius: 2px;
  background-color: #da0833;
  color: white;


}
