<section>
  <div class="banner bg-overlay">
    <div class="container">
      <div class="row text-center ">
        <div class="col">
          <h1 class="main-head">Build Your Career</h1>
        </div>
      </div>
      <div class="row" style="width: 95%">
        <!-- <div
          class="col-md-3 d-flex justify-content-center "
          style="margin: auto; transform: translateY(400px)"
        >
          <input type="search" name="search" id="search" placeholder="search" />
          <select name="Experience" id="">
            <option value=""> 1 year</option>
            <option value=""> 2 year</option>
            <option value=""> 3 year</option>
            <option value=""> 4-8 year</option>
          </select>
          <select name="select category" id="">
            <option value=""> Account & Finance </option>
            <option value=""> Information & Technology</option>
            <option value=""> Marketing </option>
            <option value=""> Food & Restaurent</option>
          </select>
          <button class="btn">Submit</button>
        </div> -->
        <div
       
        style="margin: auto; transform: translateY(400px);"
      >
        <input type="search" name="search" id="search" placeholder="search" />
        <select name="Experience" id="">
          <option value=""> 1 year</option>
          <option value=""> 2 year</option>
          <option value=""> 3 year</option>
          <option value=""> 4-8 year</option>
        </select>
        <select name="select category" id="">
          <option value=""> Account & Finance </option>
          <option value=""> Information & Technology</option>
          <option value=""> Marketing </option>
          <option value=""> Food & Restaurent</option>
        </select>
        <button class="btn">Submit</button>
      </div>
      </div>
    </div>
  </div>
</section>
