<section>
  <div class="banner bg-overlay">
    <div class="container">
      <div class="row text-center ">
        <div class="col" >
          <h1 >Build Your Career</h1>
        </div>
      </div>
      <div class="row">
        <div
          class="col d-flex justify-content-center "
          style="position: relative ; top: 350px;"
        >
          <input type="search" name="search" id="search" placeholder="search" />
          <select name="Experience" id="">
            <option value=""> 1 year</option>
            <option value=""> 2 year</option>
            <option value=""> 3 year</option>
            <option value=""> 4-8 year</option>
          </select>
          <select name="select category" id="">
            <option value=""> Account & Finance </option>
            <option value=""> Information & Technology</option>
            <option value=""> Marketing </option>
            <option value=""> Food & Restaurent</option>
          </select>
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
