<div class="container-fluid">
  <h2>Our customers say</h2>
  <div class="carousel-wrapper">
    <div class="carousel" data-flickity>
      <div class="carousel-cell">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
          />
          <h6>
            Makes my accounting needs so simple and easy. I love using this
            product and highly recommend this product
          </h6>
          <hr />
          <h4>Marie Miller</h4>
          <p>Founder, Redient Pvt. Ltd</p>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
          />
          <h6>
            The lorem ipsum text is typically a scrambled section of De finibus
            bonorum et malorum, a 1st-century BC Latin text by Cicero
          </h6>
          <hr />
          <h4>Maxwell</h4>
          <p>Founder, DffTech Pvt. Ltd</p>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
          />
          <h6>
            A variation of the ordinary lorem ipsum text has been used in
            typesetting since the 1960s or earlier, when it was popularized
          </h6>
          <hr />
          <h4>Marshmallow</h4>
          <p>Developer, Redient Pvt. Ltd</p>
        </div>
      </div>
    </div>
  </div>
</div>
