<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col text-center pb-3">
      <h3><b> TEAM </b></h3>

      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <img
          src="../../../assets/img/team-1.jpg"
          alt="amanda"
          height="255px"
          width="100%"
        />
      </div>
      <div class="text-center pt-2">
        <h5><b> Walter White </b></h5>
        <small> <em> Chief Executive Officer </em></small>
        <div>
          <a href="#" class="twitter">
            <i class="fa fa-twitter"> </i>
          </a>
          <a href="#" class="facebook">
            <i class="fa fa-facebook"> </i>
          </a>
          <a href="#" class="linkedin">
            <i class="fa fa-linkedin"> </i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <img
          src="../../../assets/img/team-2.jpg"
          alt="amanda"
          height="255px"
          width="100%"
        />
      </div>
      <div class="text-center  pt-2">
        <h5><b> Sarah Jhinson </b></h5>
        <small> <em> Product Manager </em></small>
        <div>
          <a href="#" class="twitter">
            <i class="fa fa-twitter"> </i>
          </a>
          <a href="#" class="facebook">
            <i class="fa fa-facebook"> </i>
          </a>
          <a href="#" class="linkedin">
            <i class="fa fa-linkedin"> </i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <img
          src="../../../assets/img/team-3.jpg"
          alt="amanda"
          height="255px"
          width="100%"
        />
      </div>
      <div class="text-center  pt-2">
        <h5><b> William Anderson </b></h5>
        <small> <em> CTO </em></small>
        <div>
          <a href="#" class="twitter">
            <i class="fa fa-twitter"> </i>
          </a>
          <a href="#" class="facebook">
            <i class="fa fa-facebook"> </i>
          </a>
          <a href="#" class="linkedin">
            <i class="fa fa-linkedin"> </i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <img
          src="http://f440.com/img/team-4.jpg"
          alt="amanda"
          height="255px"
          width="100%"
        />
      </div>
      <div class="text-center  pt-2">
        <h5><b> Amanda Jepson </b></h5>
        <small> <em> Accountant</em></small>
        <div>
          <a href="#" class="twitter">
            <i class="fa fa-twitter"> </i>
          </a>
          <a href="#" class="facebook">
            <i class="fa fa-facebook"> </i>
          </a>
          <a href="#" class="linkedin">
            <i class="fa fa-linkedin"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
