<header align="center"><h3>CSS GRID</h3></header>

<div class="container">
  <div class="grid-container-main">
    <div class=" column-p-1 order-1">
      <div class="grid-container-2">
        <div class="part-1">
          <h6 class="text-center box-in-header">Customer Details</h6>
          <div class="row">
            <div class="col">
              <p>part-1</p>
            </div>
          </div>
        </div>
        <div class="part-2">
          <h6 class="text-center box-in-header">Booking Details</h6>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <p>Check-in Date</p>
              <p>Check-out Date</p>
              <p>Booking Date</p>
              <p>Days</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <p>hey you crazy</p>
              <p>hey you crazy</p>
              <p>hey you crazy</p>
              <p>hey you crazy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" column-p-2 order-3 ">
      <div class="instructions-part mt-4">
        <div class="row pb-3">
            <div class="col">
                <h5 style="color:#f73f5b">Instructions</h5>
            </div>
        </div>
        <div class="row pl-3">
            <div class="col">
                <ul>
                    <li>
                        Please ensure that the names of all customers match with their valid ID Proof. The ID proofs accepted are Driving license,
                        Voter ID, Passport, and Aadhar card.
                    </li>
                    <li>The dates are applicable as per Indian Standard Time(IST).</li>
                    <li>Any cancellations need to be informed 48 hours in advance in order to get a 100 % refund.</li>
                    <li>Please read the TERMS OF SERVICE for further clarifications.</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class=" column-p-3 order-2">
      
      <div class="col card-body  justify-content-around">
        <div class="row   ">
            <div class="col-md-6 col-sm-6 col-6"><h5>Booking Id:</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>BGPX34C</p></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>Blobb Location</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>Gachibowli</p></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>1500 * 2 days</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>3000</p></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>CGST (8%)</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>240</p></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>SGST (8%)</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>240</p></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>Total</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>3480</p></div>
        </div>
        <hr />
        <div class="row   ">
            <div class="col-md-6 col-sm-6 col-6"><h5>Booking Id:</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>BGPX34C</p></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>Blobb Location</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>Gachibowli</p></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>2500 * 2 days</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>3000</p></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>CGST (8%)</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>240</p></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>SGST (8%)</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>240</p></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>Total</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>3480</p></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"><h5>Grand Total</h5></div>
            <div class="col-md-6 col-sm-6 col-6"><p>7080</p></div>
        </div>
    </div>

    </div>
  </div>
</div>
