.grid-container-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
  grid-gap: 50px;
}
.grid-container-2 {
  border: solid 1px gray;
  border-top: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.column-p-1 {
  background-color: rgb(200, 150, 190);
}
.column-p-2 {
  background-color: green;
}
.column-p-3 {
  background-color: cornflowerblue;
}
.box-in-header {
  background-color: #f73f5b;
  color: white;
  padding: 1px;
}
@media screen and (max-width: 770px) {
  .grid-container-main {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .grid-container-2 {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}
