<footer class="container-fluid text-white pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>FEATURED JOB</h2>
       <a href=""> <p>Browse Jobs</p></a>
       <a href=""> <p>Premium MBA Jobs</p></a>
        <a href=""><p>Access Database</p></a>
       <a href=""> <p>Manage Responses</p></a>
       <a href=""> <p>Report a Problem</p></a>
       <a href=""> <p>Mobile Site</p></a>
       <a href=""> <p>Jobs by Skill</p></a>
      </div>
      <div class="col-md-3">
        <h2>LATEST JOB</h2>
        <p>Browse Jobs</p>
        <p>Premium MBA Jobs</p>
        <p>Access Database</p>
        <p>Manage Responses</p>
        <p>Report a Problem</p>
        <p>Mobile Site</p>
        <p>Jobs by Skill</p>
      </div>
      <div class="col-md-3">
        <h2>REACH US</h2>
        <p> 1201, Murakeu Market, QUCH07
            United Kingdon</p>
        <p>Email: Support@job.com
          </p>
        <p>Call: 044 123 458 65879
          </p>
        <p>Skype: job@skype
          </p>
        <p> FAX: 123 456 85
          </p>
  
      </div>
      <div class="col-md-3">
        <h2>DROP A MAIL</h2>
        <div>
          <form action="">
            <input type="text" placeholder="Your Name"/><br>
            <br>
            <input type="email" placeholder="Email.."/><br><br>
            <textarea name="message" id="msg" cols="20" rows="5"></textarea>
          </form>
          <button class="btn"> Submit </button>
        </div>
      </div>
    </div>
  </div>
</footer>
