<section class="container-fluid bg-light pt-s pb-5">
  <div class="container pt-5 pb-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img
            src="../../../assets/img/jobs/bg-1.jpg"
            alt="nature"
            height="150px"
          />

          <img
            src="../../../assets/img/jobs/avatar1.jpg"
            alt=""
            alt="avatar3"
            style="border-radius: 50%;
          position: relative;
          top: -40px;
          margin-right: auto;
          margin-left: auto"
            height="80px"
            width="80px"
          />
          <div class="card-body text-center">
            <h2>Sazzel Shi</h2>
            <p>Sazzel Shi UX/ Designer</p>
            <div class="row">
              <div class="col">
                <a href="#" class="twitter">
                  <i class="fa fa-twitter"> </i>
                </a>
                <a href="#" class="facebook">
                  <i class="fa fa-facebook "> </i>
                </a>
                <a href="#" class="instagram">
                  <i class="fa fa-instagram"> </i>
                </a>
                <a href="#" class="google-plus">
                  <i class="fa fa-google-plus"> </i>
                </a>
                <a href="#" class="linkedin">
                  <i class="fa fa-linkedin"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="../../../assets/img/jobs/bg-2.jpg"
            alt="nature"
            height="150px"
          />
          <img
            src="../../../assets/img/jobs/avatar2.jpg"
            alt="avatar2"
            alt="avatar3"
            style="border-radius: 50%;
                   position: relative;
                   top: -40px;
                   margin-right: auto;
                   margin-left: auto"
            height="80px"
            width="80px"
          />
          <div class="card-body text-center">
            <h2>Daniel Dezox</h2>
            <p>CEO Founder</p>
            <div class="row">
              <div class="col">
                <a href="#" class="twitter">
                  <i class="fa fa-twitter"> </i>
                </a>
                <a href="#" class="facebook">
                  <i class="fa fa-facebook "> </i>
                </a>
                <a href="#" class="instagram">
                  <i class="fa fa-instagram"> </i>
                </a>
                <a href="#" class="google-plus">
                  <i class="fa fa-google-plus"> </i>
                </a>
                <a href="#" class="linkedin">
                  <i class="fa fa-linkedin"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="../../../assets/img/jobs/bg-3.jpg"
            alt="nature"
            height="150px"
          />
          <img
            src="../../../assets/img/jobs/avatar3.jpg"
            alt="avatar3"
            style="border-radius: 50%;
            position: relative;
            top: -40px;
            margin-right: auto;
            margin-left: auto"
            height="80px"
            width="80px"
          />
          <div class="card-body text-center">
            <h2>Silp Sizzer</h2>
            <p>Human Resource</p>
            <div class="row">
              <div class="col">
                <a href="#" class="twitter">
                  <i class="fa fa-twitter"> </i>
                </a>
                <a href="#" class="facebook">
                  <i class="fa fa-facebook "> </i>
                </a>
                <a href="#" class="instagram">
                  <i class="fa fa-instagram"> </i>
                </a>
                <a href="#" class="google-plus">
                  <i class="fa fa-google-plus"> </i>
                </a>
                <a href="#" class="linkedin">
                  <i class="fa fa-linkedin"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
