h2{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 10px;
    line-height: 85px;
  
}

p{
    font-family: sans-serif;
    font-size: 14px;;
    font-weight: normal;
    line-height: 25px;
    color: gray;

}
button {
    height: 40px;
    width: 100px;
    border-radius: 2px;
    border: none;
    background-color: #da0833;
    color: white;
    border-radius:30px;
    border: none;
  }