<section class="container pt-5 pb-5">
  <div class="row text-center">
    <div class="col">
      <h1>Find Popular Jobs</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img
            src="../../../assets/img/jobs/google.png"
            alt="IOS"
            height="100px"
          />
        </div>
        <div class="col-md-8">
          <h1>IOS Developer</h1>
          <div class="row">
            <div class="col-md-2">
              <p>Google</p>
            </div>
            <div class="col-md-7">
              <p>07th Avenue, New York, NY, United States</p>
            </div>
            <div class="col-md-3">
              <p>$24,000-$48,000</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 pt-5 text-center">
          <p style="background-color: chartreuse;">Full Time</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img
            src="../../../assets/img/jobs/microsoft.png"
            alt="IOS"
            height="100px"
          />
        </div>
        <div class="col-md-8">
          <h1>Back-End developer</h1>
          <div class="row">
            <div class="col-md-2">
              <p>Microsoft</p>
            </div>
            <div class="col-md-7">
              <p>7th Avenue, New York, NY, United States</p>
            </div>
            <div class="col-md-3">
              <p>$24,000-$48,000</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 pt-5 text-center">
          <p style="background-color: rgba(233, 108, 50, 0.979)">Part Time</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img
            src="../../../assets/img/jobs/apple.png"
            alt="IOS"
            height="100px"
          />
        </div>
        <div class="col-md-8">
          <h1>UI/UX Designer</h1>
          <div class="row">
            <div class="col-md-2">
              <p>Apple</p>
            </div>
            <div class="col-md-7">
              <p>7th Avenue, New York, NY, United States</p>
            </div>
            <div class="col-md-3">
              <p>$24,000-$48,000</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 pt-5 text-center">
          <p style="background-color: rgb(22, 183, 247)">Freelance</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img
            src="../../../assets/img/jobs/wipro.png"
            alt="IOS"
            height="100px"
          />
        </div>
        <div class="col-md-8">
          <h1>IOS developer</h1>
          <div class="row">
            <div class="col-md-2">
              <p>Wipro</p>
            </div>
            <div class="col-md-7">
              <p>8th Avenue, New York, NY, United States</p>
            </div>
            <div class="col-md-3">
              <p>$24,000-$48,000</p>
            </div>
          </div>
        </div>
        <div class="col-md-2  pt-5 text-center">
          <p style="background-color: rgb(169, 71, 207)">Intership</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img
            src="../../../assets/img/jobs/twitter.png"
            alt="IOS"
            height="100px"
          />
        </div>
        <div class="col-md-8">
          <h1>Marketing Holder</h1>
          <div class="row">
            <div class="col-md-2">
              <p>Twitter</p>
            </div>
            <div class="col-md-7">
              <p>4th Avenue , New York, United States</p>
            </div>
            <div class="col-md-3">
              <p>$24,000-$48,000</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 pt-5 text-center">
          <p style="background-color: chartreuse">Full Time</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-4 ">
    <button
      class="btn"
      style="margin-left: auto; margin-right:auto"
    >
      BROWS ALL JOBS
    </button>
  </div>
</section>
