<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2>Few Words About Us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <!-- <div class="column"> -->
      <div class="row">
        <div class="col-md-3">
          <div class="bag"></div>
        </div>
        <div class="col-md-9">
          <h2>EIUSMOD TEMPOR</h2>
          <p>
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero
            tempore, cum soluta nobis est eligendi
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="bag"></div>
        </div>
        <div class="col-md-9">
          <h2>EIUSMOD TEMPOR</h2>
          <p>
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero
            tempore, cum soluta nobis est eligendi
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="bag"></div>
        </div>
        <div class="col-md-9">
          <h2>EIUSMOD TEMPOR</h2>
          <p>
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero
            tempore, cum soluta nobis est eligendi
          </p>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <div class="col-md-6 pt-5" align='center'>
      <img
        src="../../../assets/img/about-img.jpg"
        alt="about-img"
        height="300px"
      />
    </div>
  </div> 
</div>
<!-- <app-welcome-banner *ngFor="let hero of heroes" [master]="master">
</app-welcome-banner> -->
