<div class="container">
  <div class="row pt-5">
    <div class=" col-md-4 ">
      <div class="card text-center align-items-center">
        <div class="card-body">
          <img
            src="https://cdn0.iconfinder.com/data/icons/the-essential/30/printer-256.png"
            alt="resume"
            height="100px"
            width="60px"
          />
          <h3>CREATE AN ACCOUNT</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incidid ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
    <div class=" col-md-4 ">
      <div class="card text-center align-items-center">
        <div class="card-body">
          <img
            src="https://cdn0.iconfinder.com/data/icons/the-essential/30/printer-256.png"
            alt="resume"
            height="100px"
            width="60px"
          />

          <h3>SEARCH DESIRED JOB</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incidid ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
    <div class=" col-md-4 ">
      <div class="card text-center align-items-center">
        <div class="card-body">
          <img
            src="https://cdn0.iconfinder.com/data/icons/the-essential/30/printer-256.png"
            alt="resume"
            height="100px"
            width="60px"
          />

          <h3>SEND YOUR RESUME</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incidid ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-5">
    <div class=" col-md-4 ">
      <div class="card text-center align-items-center">
        <div class="card-body">
          <img
            src="https://cdn0.iconfinder.com/data/icons/the-essential/30/printer-256.png"
            alt="resume"
            height="100px"
            width="60px"
          />
          <h3>CREATE AN ACCOUNT</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incidid ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
    <div class=" col-md-4 ">
      <div class="card text-center align-items-center">
        <div class="card-body">
          <img
            src="https://cdn0.iconfinder.com/data/icons/the-essential/30/printer-256.png"
            alt="resume"
            height="100px"
            width="60px"
          />

          <h3>SEARCH DESIRED JOB</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incidid ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
    <div class=" col-md-4 ">
      <div class="card text-center align-items-center">
        <div class="card-body">
          <img
            src="https://cdn0.iconfinder.com/data/icons/the-essential/30/printer-256.png"
            alt="resume"
            height="100px"
            width="60px"
          />

          <h3>SEND YOUR RESUME</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incidid ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
