<div class="container-fluid  bg-light pb-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3><b> PORTFOLIO </b></h3>
        <p style="color: #999">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque
        </p>
      </div>
    </div>
    <div class="row">
      tabs
    </div>

    <div class="row">
      <div class="row pb-4">
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/app1.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/app2.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/app3.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/card1.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/card2.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/card3.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/logo1.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/logo2.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/logo3.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/web1.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/web2.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 pt-2">
          <div class="card hovereffect">
            <img
              class="img-responsive"
              src="../../../assets/img/portfolio/web3.jpg"
              alt="app1"
              height="200px"
              width="100%"
            />
            <div class="overlay">
              <div class="text">
                <h4>App</h4>
                <span> Alored dono </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
