<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col text-center pb-5">
        <h3><b>services</b></h3>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="circle">
            <img
              src="../../../assets/img/portfolio/angular-icon.svg"
              alt="angular-icon"
              height="50px"
            />
          </div>
          <div class="card-body ">
            <h5><b>ANGULAR</b></h5>

            <p>
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="card-body">
            <h5><b>REACT</b></h5>
            <p>
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat tarad limino ata
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="card-body">
            <h5><b>PYTHON</b></h5>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="card-body">
            <h5>
              <b>AWS</b>
            </h5>
            <p>
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="card-body">
            <h5>
              <b>Node JS</b>
            </h5>
            <p>
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat tarad limino ata
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="card-body">
            <h5>
              <b>JENKINS</b>
            </h5>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
