<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col text-center pb-5">
        <h3><b>services</b></h3>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="card-body">
            <b>ANGULAR</b>
            <p>
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p>
          </div>
        </div>
      </div>
   
      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="card-body">
            <b>REACT</b>
            <p>
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat tarad limino ata
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="card text-center bg-light">
          <div class="card-body">
            <b>PYTHON</b>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4">
        <div class="col-md-4 mt-3">
            <div class="card text-center bg-light">
              <div class="card-body">
                <b>AWS</b>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas molestias
                  excepturi sint occaecati cupiditate non provident
                </p>
              </div>
            </div>
          </div>
    
          <div class="col-md-4 mt-3">
            <div class="card text-center bg-light">
              <div class="card-body">
                <b>Node JS</b>
                <p>
                  Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat tarad limino ata
                </p>
              </div>
            </div>
          </div>
    
          <div class="col-md-4 mt-3">
            <div class="card text-center bg-light">
              <div class="card-body">
                <b>JENKINS</b>
                <p>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>
